 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <p>Java, JavaScript, Python, HTML, CSS</p>
    </div>
    <div class="tech">
      <h2>Frameworks</h2>
      <i class="devicon-nodejs-plain colored"></i>
      <i class="devicon-express-original colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-redux-colored"></i>
      <i class="devicon-django-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-bootstrap-plain colored"></i>
      <p>Node.js, Express.js, React, 
        Redux, Django, Angular, Bootstrap</p>
    </div>
    <div class="tech">
      <h2>Databases</h2>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-google-plain colored"></i>
      <p>MySQL, MongoDB, 
        Google Firebase</p>
    </div>
</div>
