<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="CallIt" src="{{ "/assets/img/CallIt.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> “Call It” - Sports Facilities’ Share Platform</h3>
    <ul>
      <li> Javascript, Node.js, Express.js, MongoDB </li>
    </ul>
    <p>Designed a cloud native MEAN-stack sports facilities web application with object-oriented organization
      database to manage massive data with low latency. </p>
    <a class="project-link" href="https://obscure-inlet-65054.herokuapp.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="SlackChat" src="{{ "/assets/img/SlackChat.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> DevChat - Slack Chat App </h3>
    <ul>
      <li> React, Redux, Google Firebase</li>
    </ul>
    <p>Developed full-stack apps with React, Redux and Firebase, among other tools in the React ecosystem. 
      Created complete React apps from setting up their dev environment to deployment on the web. 
      Implemented RESTful APIs using React-Router and integrated Google Firebase to conduct authentication and database. </p>
    <a class="project-link" href="https://react-slack-clone-b784b.web.app/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="CO2_TX" src="{{ "/assets/img/CO2_TX.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Reducing Emissions by Exploring U.S. On-Road CO2 Emissions </h3>
    <ul>
      <li> Django, MySQL</li>
    </ul>
    <p>Built ER Diagram and inner restrictions for over 35k data database, resulting in a clear blueprint. Contributed to the backend design by using Django REST framework to build API. 
      Loaded sample data into the database for testing. 
      Executed Kepler.gl for 3D data visualization of 3000+ counties’ population density and CO2 emissions. </p>
    <a class="project-link" href="https://youtu.be/c6Xc1srSJE4">Check it out</a>
  </div>
</div>
